<div class="container has-text-centered pt5">
    <h class="title is-4">Задания на <%= render partial: "date" %></h>
    <%= link_to 'Выбрать другой день', :welcome_calendar, class: "tag" %>
    <% if teacher? %>
        <%= link_to 'Добавить задание', :new_task, class: "tag is-link" %>
        <%= link_to 'Все задания', :tasks, class: "tag is-secondary" %>
    <% end %>
</div>

<div class="container pt3">
    <%= render partial: "task", collection: @tasks %>
    <% if @tasks.empty? %>
        <div class="container has-text-centered pt5">
            <h class="title is-5">Нет заданий!</h>
        </div>
    <% end %>
</div>
