<div class="columns has-text-centered">
  <div class="column">
    <%= link_to 'Раньше', calendar.url_for_previous_view, class: "button" %>
  </div>

  <div class="column">
    <span class="title"><%= ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"][start_date.month - 1] %> <%= start_date.year %></span>
  </div>

  <div class="column">
    <%= link_to 'Позже', calendar.url_for_next_view, class: "button"  %>
  </div>
</div>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <% date_range.slice(0, 7).each do |day| %>
        <th><%= ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"][day.wday] %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% date_range.each_slice(7) do |week| %>
      <tr>
        <% week.each do |day| %>
          <%= content_tag :td, class: "" do %>
            <a href="/?start_date=<%=day%>"><%= day.day %></a>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="container has-text-centered">
  <%= link_to 'Сегодня', "/?start_date=#{Date.today}", class: "button" %>
</div>
