<%= form_with scope: :cource, url: cources_path, local: true do |form| %>
  <% if @cource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@cource.errors.count, "error") %> prohibited
        this cource from being saved:
      </h2>
      <ul>
        <% @cource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.file_field :document %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', cources_path %>