<div class="container has-text-centered">
  <h1 class="title is-5">
    <%= render partial: "date" %>
  </h1>
  <h1 class="title is-2">
    <%= cource.title %>. Решения
  </h1>
  <div>
    <% if student? %>
      <%= link_to 'Загрузить свое решение', { controller: "solutions", action: "new" }, class: "button is-primary" %>
    <% end %>
      <%= link_to 'Назад', { controller: "welcome" }, class: "button" %>
  </div>
</div>

<div class="container pt3">
    <% @solutions.group_by(&:user).each do |user, solutions| %>
        <div class="container pa3">
            <h class="title is-4"><%= user.fullname %></h>

            <div class="container pt2">
                <%= render partial: "solution", collection: solutions %>
            </div>
        </div>
    <% end %>

    <% if @solutions.empty? %>
        <div class="container has-text-centered pt5">
            <h class="title is-5">Еще нет решений!</h>
        </div>
    <% end %>
</div>
