<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ГБОУ УК-2 3Е</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" media="all" href="/fontello.css" />
  </head>

  <body data-turbolinks="false">
    <div class="container has-text-centered pt2 pb2">
      <h class="title is-4">
        Сайт дополнительного образования <strong>3Е</strong> класса
      </h>
    </div>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <i class="icon-home"></i>
            </a>
        </div>

        <div id="navbar3E" class="navbar-menu is-active">
            <div class="navbar-start">
                <a class="navbar-item">
                    Проектные работы
                </a>

                <a class="navbar-item">
                    Шкатулка развлечений
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        В помощь учащимся
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Будьте здоровы
                        </a>
                        <a class="navbar-item">
                            Физкульт. минутки
                        </a>
                        <a class="navbar-item">
                            Математика
                        </a>
                        <a class="navbar-item">
                            Русский язык
                        </a>
                        <a class="navbar-item">
                            Литература
                        </a>
                        <a class="navbar-item">
                            Окр. мир
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <strong><%= user_fullname %></strong>
                </div>
                <div class="navbar-item">
                    <%= button_to "Выйти", '/sessions/logout', method: :post, class: "button is-small" %>
                </div>
            </div>
        </div>
    </nav>

    <%= yield %>

  </body>
</html>
